.header-content {
    position: relative;
    z-index: 100;
    color: white;
}

.navbar {
    padding-left: 600px;
    padding-right: 600px;
    background-color: transparent;
    border: 0;
}

.navbar-nav .nav-link {
    color: #fff;
    /* Установите цвет текста на белый */
}

.navbar-collapse {
    justify-content: flex-end;
}

body {
    background-color: rgb(253 241 224 / 32%);
}

.team-member {
    margin-bottom: 20px;
    text-align: center;
}

.team-photo {
    border-radius: 50%;
    margin-bottom: 15px;
    width: 200px;
    /* Установите ширину фото */
    height: 200px;
    /* Установите высоту фото */
}

.team-name {
    margin-bottom: 5px;
    font-weight: bold;
}

.team-role {
    margin-bottom: 2px;
    font-style: italic;
}

.team-experience {
    color: grey;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
}