.video-background {
    position: relative;
    width: 100%;
    height: 600px;
    /* Уменьшенная высота шапки */
    overflow: hidden;
  }

  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
    filter: blur(3px);
    /* Блюр для видео */
  }

  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Затемнение на 70% */
    z-index: -50;
  }

  .header-content {
    position: relative;
    z-index: 100;
    color: white;
  }

  .navbar {
    background-color: transparent;
    border: 0;
  }

  .achievements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .achievement {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
  }

  .navbar-collapse {
    justify-content: flex-end;
    /* Выравнивание кнопок навигации по правому краю */
  }