.video-background {
    position: relative;
    width: 100%;
    height: 600px;

    overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  filter: blur(3px);
  /* Блюр для видео */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Затемнение на 70% */
  z-index: -50;
}

.header-content {
  position: relative;
  z-index: 100;
  color: white;
}

.navbar {
  background-color: transparent;
  border: 0;
}

.achievements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.achievement {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
}

.navbar-collapse {
  justify-content: flex-end;
  /* Выравнивание кнопок навигации по правому краю */
}

.footer {
  background-color: #000;
  color: white;
  padding: 40px 0;
}

.footer h2 {
  margin-bottom: 20px;
}

.footer .contact-form {
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

.footer .contact-form .form-control {
  background-color: #222;
  border: none;
  margin-bottom: 15px;
}

.footer .contact-form .btn {
  background-color: #18ac04;
  border: none;
}

.footer .contact-info {
  margin-bottom: 20px;
}

.footer .contact-info i {
  margin-right: 10px;
}

.footer .copyright {
  margin-top: 20px;
  font-size: 0.8em;
  color: #665;
}

.advantage-col {
  margin-bottom: 20px;
}

.advantage-wrapper {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.advantage-wrapper:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.advantage-icon {
  margin-bottom: 10px;
}

.advantage-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.advantage-body {
  color: #333;
}
